* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

li a {
  text-decoration: none;
  font-size: 25px;
}

.popup {
  margin: 1rem 5rem 1rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-top: 30px;
}

.main h2 {
  margin-top: 1.5rem;
  padding-left: 2rem;
}

button {
  width: 100%;
  margin-top: 10px;
  font-size: 1.4rem;
}
