* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.logo {
  width: 150px;
  border-radius: 20%;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

li a {
  text-decoration: none;
  font-size: 25px;
}

.popup {
  margin: 0 5rem 1rem 9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 17%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 30px;
}

.main h2 {
  margin-top: 1.5rem;
  font-size: 18px;
  width: 100%;
}

.main img {
  border-radius: 8%;
}

button {
  width: 100%;
  margin-top: 10px;
  font-size: 1.4rem;
}

.list-movies {
  display: flex;
}

.like {
  width: 40%;
  height: 30px;
  margin-top: 10px;
}

.heart {
  position: relative;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  filter: invert(63%) sepia(19%) saturate(5536%) hue-rotate(296deg) brightness(102%) contrast(101%) opacity(90%);
}
